* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #f9fafb; 
  color: #4b5563; 
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  min-width: 360px;
}

body > main {
  width: 100%;
  margin: 0 auto;
}
